<h2>Here is the member you are looking for:</h2>

<ul>
  <li>
      Name: <%= @member.first_name %> <%= @member.last_name %>
      <br>
      City: <%= @member.city %>
      <br>
      State: <%= @member.state %>
      <br>
      Country: <%= @member.country %>
      <br>
      Team: <%= @member.team_name %>
      <br>
      Project: <%= @member.project_name %>

  </li>
</ul>
